[submodule "crates/image-parser"]
	path = crates/image-parser
	url = git@github.com:V-Fries/image-parser-rs.git
[submodule "crates/linear-algebra"]
	path = crates/linear-algebra
	url = git@github.com:V-Fries/42-matrix.git
